In [1]:
#ตอนที่ 11 - สร้าง DataFrame จาก List และ Tuple

import pandas as pd

In [2]:
#ข้อมูล
datas = [["คีย์บอร์ด","IT",4000],
["ตุ๊กตา","ของเล่น",5000],
["กาว","หลอน",408]]

In [6]:
#นำข้อมูลมาสร้าง DataFrame
cols = ["ชื่อสินค้า","หมวดหมู่","ราคา"]
df = pd.DataFrame(datas,columns=cols)

In [7]:
df

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น  5000
2        กาว     หลอน   408