In [2]:
#ตอนที่ 14 - สร้าง DataFrame จาก Dictionary

import pandas as pd

In [11]:
#ข้อมูล 
datas = [{"Name":"คีย์บอร์ด","Category":"IT","Price":4000},
{"Name":"เม้าส์","Category":"อุปกรณื","Price":1000},
{"Name":"หมา","Category":"สัตว์","Price":5000},]

In [16]:
#นำมาสร้าง df จะเอา key มาทำเป็นหัวคอลัมน์
df = pd.DataFrame(datas)
df

        Name Category  Price
0  คีย์บอร์ด       IT   4000
1     เม้าส์  อุปกรณื   1000
2        หมา    สัตว์   5000

In [17]:
#เอา name มาเป็น Index แทนตัวเลข 0 1 2 โดยใช้ set_index
df.set_index(["Name"],inplace=True)
df

          Category  Price
Name
คีย์บอร์ด       IT   4000
เม้าส์     อุปกรณื   1000
หมา          สัตว์   5000