In [17]:
#ตอนที่ 19 - อ่านเอกสาร CSV กำหนดหัวคอลัมน์

import pandas as pd

In [33]:
#เลือกกำหนดหัวคอลัมน์ได้เพราะตัวหัวคอมลัมน์เดิมมันไม่มี
cols = ["สินค้า","ประเภท","ราคา"]
df = pd.read_csv("D:\Destop\Pandas_workshop\dataframee\product3",encoding="utf-8",names=cols)

In [34]:
df

      สินค้า   ประเภท  ราคา
0  คีย์บอร์ด  อุปกรณ์   499
1     ตุ๊กตา  ของเล่น   522
2        กาว     หลอน   408

In [36]:
#เลือกกำหนดหัวคอลัมน์
cols = ["Name","Category"]
df = pd.read_csv("D:\Destop\Pandas_workshop\dataframee\product1",encoding="utf-8")

In [37]:
df

   Unnamed: 0       Name Category  Price
0           0  คีย์บอร์ด  อุปกรณ์    499
1           1     ตุ๊กตา  ของเล่น    522
2           2        กาว     หลอน    408