In [1]:
#ตอนที่ 13 - สร้าง DataFrame จาก List ด้วย zip

import pandas as pd

In [17]:
#ข้อมูล
item1 = ["คีย์บอร์ด","IT",4000]
item2 = ["ตุ๊กตา","ของเล่น",5000]
item3 = ["กาว","หลอน",408]
item4 = [1,2,3]

#นำลิสต์มารวมกันโดยใช้ zip
data = list(zip(item1,item2,item3,item4))

In [18]:
#นำข้อมูลมาสร้าง DataFrame
cols = ['Name',"Category","Price","ความสำคัญ"]

#เอาข้อมูลจากเเนวนอนมาแสดงผลเป็นเเนวตั้ง
df = pd.DataFrame(data,columns=cols)

In [19]:
df

        Name Category Price  ความสำคัญ
0  คีย์บอร์ด   ตุ๊กตา   กาว          1
1         IT  ของเล่น  หลอน          2
2       4000     5000   408          3

In [20]:
print(data)

[('คีย์บอร์ด', 'ตุ๊กตา', 'กาว', 1), ('IT', 'ของเล่น', 'หลอน', 2), (4000, 5000, 408, 3)]