In [3]:
#ตอนที่ 22 - ชนิดข้อมูลและค่าทางสถิติ

import pandas as pd

In [7]:
#เอา indexColumns มาไว้เป็นลำดับแรก
df = pd.read_excel("D:\Destop\Pandas_workshop\pandastutorial-main\dataupdate.xlsx","score",index_col="Name") #พร้อมปรับหัวแถวให้เป็น name
df

           Score  Age  Gender Grade
Name
อาทิตย์       90   20     ชาย     A
นิตยา         75   18    หญิง     B
โจโจ้         88   22     ชาย     A
แก้มใส        65   19    หญิง     C
ตั๊กแตน       82   23    หญิง     A
เก๋ไก๋        50   20    หญิง     D
วุฒิชัย       45   17     ชาย     F
ชัยสิทธิ์     62   18     ชาย     C
ธนาวุมิ       95   19     ชาย     A

In [11]:
#ดึงข้อมูลจากในฝั่ง Score พร้อมเลือกเอาคะแนนสูงสุด
df.Score.max()

95

In [12]:
#ดึงข้อมูลจากในฝั่ง Score พร้อม Mean
df.Score.mean()

72.44444444444444

In [ ]:
#ดึงข้อมูลจากในฝั่ง Score พร้อม Min
df.Score.min()

In [13]:
#ดึงข้อมูลจากในฝั่ง Score พร้อม count
df.Score.count()

9

In [ ]:
#ดึงข้อมูลจากในฝั่ง Score พร้อม std (ส่วนเบี่ยงเบนมาตรฐาน)
df.Score.std()

In [14]:
#Sumข้อมูลจากในฝั่ง Score 
df.Score.sum()

652

In [17]:
#เอา indexColumns มาไว้เป็นลำดับแรก
df = pd.read_excel("D:\Destop\Pandas_workshop\pandastutorial-main\dataupdate.xlsx","score")

In [18]:
#แปลงข้อมูล Grade ให้เป็นแบบ category

df.Grade = df.Grade.astype('category')

In [19]:
df.dtypes

Name         object
Score         int64
Age           int64
 Gender      object
Grade      category
dtype: object