In [1]:
#ตอนที่ 37 - การหาผลรวมแถวและคอลัมน์

#axis = 0 columns
#axis = 1 rows

import pandas as pd

In [2]:
#เอา indexColumns มาไว้เป็นลำดับแรก
df = pd.read_excel("D:\Destop\Pandas_workshop\pandastutorial-main\Stock.xlsx",index_col="Name")  #เอา Name เป็นหัว index แทน
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [4]:
#ถ้าทำแบบ default จะเป็นการรวมแบบบนลงล่าง หรือจะกำหนดเป็น 0 ก็ได้ผลลัพธ์เดียวกัน
df.sum(0)

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                 33119.0
Amount                                                   77.0
dtype: object

In [7]:
#จะกำหนดเป็น 1 ก็ได้ผลลัพธ์คำนวนแบบแนวนอน
df.sum(1)

C:\Users\NITRO5~1\AppData\Local\Temp/ipykernel_16392/157168187.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(1)

Name
เมาส์                  910.0
ปากกา                  205.0
โคมไฟ                 1207.0
ไมโครโฟน               751.0
เครื่องซักผ้า         3500.0
เสื้อยืดคอกลม          502.0
กางเกงยีนต์           1007.0
ตุ๊กตาหมีพูห์          955.0
โซฟา                  5005.0
จาน                    254.0
ทีวี                 15007.0
ยางลบ                   25.0
External HardDisk     2507.0
คีย์บอร์ด              855.0
รถบังคับ               506.0
dtype: float64

In [9]:
#หรือว่าจะทำคอลัมน์แล้วเอามาคำนวนเก็บใส่

df["total"] = df["Price"] * df["Amount"]
df

                             Category    Price  Amount     total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0    9000.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0    1000.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0    8400.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0     750.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0       0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0    1000.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0    7992.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0    4750.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0   25000.0
จาน                       เครื่องครัว    250.0     4.0    1000.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0  105000.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0     100.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0   17500.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0    4250.0
รถบังคับ                      ของเล่น    500.0     6.0    3000.0

In [11]:
#แสดงผลรวมแนวตั้ง 
df.sum(axis=0)

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                 33119.0
Amount                                                   77.0
total                                                188742.0
dtype: object