In [1]:
#ตอนที่ 11 - สร้าง DataFrame จาก List และ Tuple

import pandas as pd

In [6]:
pt = (10,20,30,40,50,60,70,80,90,100)
pl = [10,20,30,40,50,60,70,80,90,100]

In [7]:
#สรา้ง df จาก list
df = pd.DataFrame(pl)
df

     0
0   10
1   20
2   30
3   40
4   50
5   60
6   70
7   80
8   90
9  100

In [8]:
#สรา้ง df จาก tuple
df = pd.DataFrame(pt)
df

     0
0   10
1   20
2   30
3   40
4   50
5   60
6   70
7   80
8   90
9  100

In [11]:
#สร้าง dataframe แบบกำหนดคอลัมน์
    #จากข้อมูล
data = [15,20,30,40]
cols = ['age']

df = pd.DataFrame(data,columns=cols)
df

   age
0   15
1   20
2   30
3   40